.button-next {
    width: 100%;
    background-color: $yellow;
    padding: 10px 0;
    border-radius: 25px;
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
    }
}