@use "color.scss" as c;
.button-next {
    width: 80%;
    background-color: c.$yellow;
    padding: 10px 0;
    border-radius: 25px;
    position: absolute;
    bottom: 7vh;
    left: 37px;
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
    }
}