        @use "color.scss" as c;
        .car-box-yellow {
            display: grid;
            grid-template-columns: 1.2fr 0.6fr 0.1fr;
            align-items: center;
            background: c.$yellow;
            border-radius: 15px;
            padding: 0.5rem;
            height: 9vh;
            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 0.5rem 1rem;
                .left-top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5px;
                    img {
                        width: 32px;
                    }
                    p {
                        color: c.$maincolor;
                        font-size: 14px;
                        font-weight: bolder;
                        padding-left: 5px;
                        margin: 0;
                    }
                }
                .left-down {
                    padding: 0.2rem;
                    p {
                        font-size: 24px;
                        font-weight: bold;
                        margin: 0;
                        span {
                            font-size: 12px;
                            font-weight: bold;
                            padding-left: 5px;
                        }
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                .right-top {
                    p {
                        font-size: 13px;
                        margin: 0;
                    }
                }
                .right-down {
                    display: flex;
                    align-items: baseline;
                    p {
                        font-size: 48px;
                        margin: 0;
                        font-weight: bolder;
                        color: blue;
                    }
                    span {
                        padding-left: 4px;
                        font-weight: bold;
                    }
                }
            }
            .arrow {
                justify-self: end;
                padding-right: 7px;
            }
        }