@use "color.scss" as c;
.flow-4 {
    .parking-main {
        width: 80%;
        margin-inline: auto !important;
        height: 84vh;
        .place {
            @extend .place;
        }
        form {
            width: 100%;
            margin-top: 10px;
            .text-p {
                @extend .text-p;
            }
            .form {
                width: 100%;
                div {
                    width: 100%;
                    .input-line {
                        width: 100%;
                        background: c.$wbkg;
                        padding: 0.8rem;
                        color: c.$lighttext;
                        font-size: 16px;
                        border-radius: 15px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .button-next {
        @extend .button-next;
    }
}