@use "color.scss" as c;
.flow-4 {
    .parking-main {
        width: 80%;
        margin-inline: auto !important;
        height: 84vh;
        .place {
            @extend .place;
        }
        form {
            width: 100%;
            margin-top: 10px;
            .text-p {
                @extend .text-p;
            }
            .form {
                width: 100%;
                div {
                    width: 100%;
                    .input-line {
                        border-radius: 15px;
                        width: 87%;
                        background: #fff;
                        padding: 1rem;
                        color: rgb(102, 99, 99);
                        padding: 1rem;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .button-next {
        @extend .button-next;
    }
}