@use "color.scss" as c;
.interest-box {
    width: 80%;
    margin-inline: auto;
    margin-top: 50px;
    .interest-text-p {
        font-size: 17px;
        font-weight: bold;
        color: c.$textcolor;
        padding-bottom: 10px;
        p {
            margin: 0 !important;
        }
    }
    .white-box {
        width: 100%;
        height: 12vh;
        display: flex;
        gap: 8px;
        .rent {
            background-color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 18px;
            position: relative;
            p {
                position: absolute;
                bottom: 2px;
                left: 15px;
                color: c.$maincolor;
                font-weight: bolder;
                color: c.$maincolor;
            }
        }
        .ai {
            background-color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 18px;
            position: relative;
            p {
                position: absolute;
                bottom: 2px;
                left: 15px;
                font-weight: bolder;
                color: c.$maincolor;
            }
        }
    }
}