@use "_color.scss" as c;
.place {
    width: 80%;
    margin-inline: auto;
    padding-top: 15px;
    margin: 0;
    .place-text {
        h3 {
            color: c.$textcolor;
            margin: 0;
            font-size: 24px;
        }
        .icon-p {
            display: flex;
            align-items: center;
            gap: 8px;
            i {
                color: c.$yellow;
            }
            p {
                color: c.$textcolor;
                font-size: 13px;
            }
        }
    }
}