@use "color.scss" as c;
.text-p {
    font-size: 17px;
    font-weight: bold;
    color: c.$textcolor;
    padding-bottom: 10px;
    p {
        margin: 0 !important;
    }
}

.text-yellow-p {
    font-size: 14px;
    font-weight: bold;
    color: c.$yellow;
    padding-bottom: 2px;
    p {
        margin: 0 !important;
    }
}