@use "color.scss" as c;
@import "mixin.scss";
@import "headerMoney.scss";
@import "footer.scss";
@import "interestBox.scss";
@import "flow-1.scss";
@import "flow-2.scss";
@import "flow-3.scss";
@import "flow-4.scss";
@import "flow-5.scss";
@import "flow-6.scss";
@import "flow-9.scss";
@import "flow-10.scss";
@import "flow-11.scss";
@import "flow-12.scss";
@import "carbox-yellow.scss";

/****************  ^.^ ***********************/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    .parking-body {
        width: 400px;
        height: 100vh;
        background-color: c.$maincolor;
        margin: auto;
        position: relative;
    }
    .flow-1 {
        @extend .flow-1;
    }
    .flow-2 {
        header {
            @extend .headerLogo;
        }
    }
    .flow-3 {
        @extend .flow-3;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-4 {
        @extend .flow-4;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-5 {
        @extend .flow-5;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-6 {
        @extend .flow-6;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-9 {
        @extend .flow-9;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-10 {
        @extend .flow-10;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-11 {
        @extend .flow-11;
        header {
            @extend .headerLogo-button;
        }
    }
    .flow-12 {
        @extend .flow-12;
        header {
            @extend .headerLogo-button;
        }
    }
}


/****************  header ***********************/

header {
    @extend .headerMoney;
}


/****************  footer ***********************/

.footer {
    @extend footer;
}