.headerMoney, header {
  width: 100%;
  height: 10vh;
}
.headerMoney .money-part, header .money-part {
  width: 125px;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1.3rem;
}
.headerMoney .money-part img, header .money-part img {
  width: 52px;
  height: 52px;
}
.headerMoney .money-part h5, header .money-part h5 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #fac80b;
}

.headerLogo, .container .flow-2 header {
  width: 100%;
  height: 10vh;
}
.headerLogo .Logo-part, .container .flow-2 header .Logo-part {
  width: 125px;
  float: left;
  margin: 1rem 1.3rem;
}
.headerLogo .Logo-part img, .container .flow-2 header .Logo-part img {
  width: 100%;
}

.headerLogo-button, .container .flow-4 header, .container .flow-3 header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLogo-button .Logo-part, .container .flow-4 header .Logo-part, .container .flow-3 header .Logo-part {
  width: 125px;
  float: left;
  margin: 1rem 1.3rem;
}
.headerLogo-button .Logo-part img, .container .flow-4 header .Logo-part img, .container .flow-3 header .Logo-part img {
  width: 100%;
}
.headerLogo-button .btn-part, .container .flow-4 header .btn-part, .container .flow-3 header .btn-part {
  margin: 1rem 1.5rem;
}
.headerLogo-button .btn-part a, .container .flow-4 header .btn-part a, .container .flow-3 header .btn-part a {
  text-decoration: none;
  color: aliceblue;
}

footer, .footer {
  width: 100%;
  height: 6vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p, .footer p {
  font-size: 13px;
  color: antiquewhite;
  text-align: center;
  padding: 9px 0;
}

.interest-box {
  width: 80%;
  margin-inline: auto;
  margin-top: 50px;
}
.interest-box .interest-text-p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 10px;
}
.interest-box .interest-text-p p {
  margin: 0 !important;
}
.interest-box .white-box {
  width: 100%;
  height: 12vh;
  display: flex;
  gap: 8px;
}
.interest-box .white-box .rent {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  position: relative;
}
.interest-box .white-box .rent p {
  position: absolute;
  bottom: 2px;
  left: 15px;
  color: #232636;
  font-weight: bolder;
  color: #232636;
}
.interest-box .white-box .ai {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  position: relative;
}
.interest-box .white-box .ai p {
  position: absolute;
  bottom: 2px;
  left: 15px;
  font-weight: bolder;
  color: #232636;
}

.place, .flow-5 .parking-main .place-calendar .place, .container .flow-4 .parking-main .place-calendar .place, .flow-4 .parking-main .place, .flow-3 .parking-main .place {
  width: 80%;
  margin-inline: auto;
  padding-top: 15px;
  margin: 0;
}
.place .place-text h3, .flow-5 .parking-main .place-calendar .place .place-text h3, .flow-4 .parking-main .place .place-text h3, .flow-3 .parking-main .place .place-text h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.place .place-text .icon-p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.place .place-text .icon-p i, .flow-5 .parking-main .place-calendar .place .place-text .icon-p i, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p i {
  color: #fac80b;
}
.place .place-text .icon-p p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p p {
  color: #ffffff;
  font-size: 13px;
}

.flow-1 .parking-main, .container .flow-1 .parking-main {
  width: 100%;
  height: 84vh;
}
.flow-1 .parking-main .big-logo, .container .flow-1 .parking-main .big-logo {
  width: 60%;
  height: 10vh;
  margin-inline: auto;
}
.flow-1 .parking-main .big-logo img, .container .flow-1 .parking-main .big-logo img {
  width: 100%;
  height: 100%;
}
.flow-1 .parking-main .choose-rent-part, .container .flow-1 .parking-main .choose-rent-part {
  width: 80%;
  margin-inline: auto;
}
.flow-1 .parking-main .choose-rent-part .choose-title, .container .flow-1 .parking-main .choose-rent-part .choose-title {
  width: 100%;
  text-align: center;
}
.flow-1 .parking-main .choose-rent-part .choose-title p, .container .flow-1 .parking-main .choose-rent-part .choose-title p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.flow-1 .parking-main .choose-rent-part div, .container .flow-1 .parking-main .choose-rent-part div {
  margin-top: 10px;
}
.flow-1 .parking-main .choose-rent-part div select, .container .flow-1 .parking-main .choose-rent-part div select {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(102, 99, 99);
}
.flow-1 .parking-main .choose-rent-part div select option, .container .flow-1 .parking-main .choose-rent-part div select option {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(102, 99, 99);
}
.flow-1 .parking-main .quota, .container .flow-1 .parking-main .quota {
  width: 80%;
  margin-inline: auto;
}
.flow-1 .parking-main .quota .text-p, .container .flow-1 .parking-main .quota .text-p {
  width: 100%;
  text-align: center;
}
.flow-1 .parking-main .quota .text-p p, .container .flow-1 .parking-main .quota .text-p p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.flow-1 .parking-main .quota .quota-box, .container .flow-1 .parking-main .quota .quota-box {
  width: 100%;
  margin-inline: auto;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box, .container .flow-1 .parking-main .quota .quota-box .mtsc-box {
  margin-top: 15px;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red {
  background-color: #842828 !important;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .left .left-top p {
  color: #ffffff !important;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .left .left-down p {
  color: #ffffff;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .right p {
  color: #ffffff;
  padding: 0 0.3rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.place, .flow-5 .parking-main .place-calendar .place, .container .flow-4 .parking-main .place-calendar .place, .flow-4 .parking-main .place, .flow-3 .parking-main .place {
  width: 80%;
  margin-inline: auto;
  padding-top: 15px;
  margin: 0;
}
.place .place-text h3, .flow-5 .parking-main .place-calendar .place .place-text h3, .flow-4 .parking-main .place .place-text h3, .flow-3 .parking-main .place .place-text h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.place .place-text .icon-p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.place .place-text .icon-p i, .flow-5 .parking-main .place-calendar .place .place-text .icon-p i, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p i {
  color: #fac80b;
}
.place .place-text .icon-p p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p p {
  color: #ffffff;
  font-size: 13px;
}

.calendar .icon, .flow-5 .parking-main .place-calendar .calendar .icon, .container .flow-4 .parking-main .place-calendar .calendar .icon {
  position: relative;
}
.calendar .icon i, .flow-5 .parking-main .place-calendar .calendar .icon i, .container .flow-4 .parking-main .place-calendar .calendar .icon i {
  color: #fac80b;
  font-size: 26px;
}
.calendar .icon span, .flow-5 .parking-main .place-calendar .calendar .icon span, .container .flow-4 .parking-main .place-calendar .calendar .icon span {
  position: absolute;
  top: 10px;
  left: 8px;
  color: #fac80b;
  font-size: 9px;
  font-weight: bold;
}
.calendar p, .flow-5 .parking-main .place-calendar .calendar p, .container .flow-4 .parking-main .place-calendar .calendar p {
  color: #fac80b;
  font-size: 10px;
  margin: 0;
}

.flow-2 .parking-main {
  width: 80%;
  margin-inline: auto !important;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow-2 .parking-main .rented {
  width: 100%;
  text-align: center;
}
.flow-2 .parking-main .rented .rented-h1 h1 {
  font-size: 40px;
  color: #fac80b;
}
.flow-2 .parking-main .rented .rented-calendar .icon {
  margin-bottom: 10px;
  position: relative;
}
.flow-2 .parking-main .rented .rented-calendar .icon i {
  color: #fac80b;
  font-size: 50px;
}
.flow-2 .parking-main .rented .rented-calendar .icon span {
  position: absolute;
  top: 20px;
  left: 155px;
  color: #fac80b;
  font-size: 20px;
  font-weight: bold;
}
.flow-2 .parking-main .rented .rented-calendar p {
  color: #fac80b;
  font-size: 10px;
  margin: 0;
}
.flow-2 .parking-main .rented .place {
  width: 80%;
  margin-inline: auto;
  padding-top: 15px;
  margin: 0 !important;
}
.flow-2 .parking-main .rented .place .place-text {
  width: 100%;
  margin-left: 32px;
}
.flow-2 .parking-main .rented .place .place-text h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.flow-2 .parking-main .rented .place .place-text .icon-p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flow-2 .parking-main .rented .place .place-text .icon-p i {
  color: #fac80b;
}
.flow-2 .parking-main .rented .place .place-text .icon-p p {
  color: #ffffff;
  font-size: 13px;
}
.flow-2 .parking-main .rented .rented-more {
  padding-top: 15vh;
}
.flow-2 .parking-main .rented .rented-more a {
  font-size: 12px;
  color: #fac80b;
}

.place, .flow-5 .parking-main .place-calendar .place, .container .flow-4 .parking-main .place-calendar .place, .flow-4 .parking-main .place, .flow-3 .parking-main .place {
  width: 80%;
  margin-inline: auto;
  padding-top: 15px;
  margin: 0;
}
.place .place-text h3, .flow-5 .parking-main .place-calendar .place .place-text h3, .flow-4 .parking-main .place .place-text h3, .flow-3 .parking-main .place .place-text h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.place .place-text .icon-p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.place .place-text .icon-p i, .flow-5 .parking-main .place-calendar .place .place-text .icon-p i, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p i {
  color: #fac80b;
}
.place .place-text .icon-p p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p p {
  color: #ffffff;
  font-size: 13px;
}

.flow-3 .parking-main, .container .flow-3 .parking-main {
  width: 80%;
  margin-inline: auto;
  height: 84vh;
}
.flow-3 .parking-main .car-box-yellow, .flow-3 .flow-1 .parking-main .quota .quota-box .car-box-yellow, .flow-1 .flow-3 .parking-main .quota .quota-box .car-box-yellow, .flow-3 .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red, .flow-1 .flow-3 .parking-main .quota .quota-box .mtsc-box .car-box-red {
  margin-top: 30px;
}
.flow-3 .parking-main .choose-day {
  margin: 30px 0;
}
.flow-3 .parking-main .choose-day .text-p {
  margin: 0 !important;
  font-size: 17px;
  font-weight: bolder;
  color: #ffffff;
  padding-bottom: 10px;
}
.flow-3 .parking-main .choose-day .text-p p {
  margin: 0 !important;
}
.flow-3 .parking-main .choose-day .day-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.flow-3 .parking-main .choose-day .day-container .day-box {
  border-radius: 15px;
  text-align: center;
  padding: 3px 0;
}
.flow-3 .parking-main .choose-day .day-container .day-box p {
  margin: 0 !important;
  font-size: 22px;
  font-weight: bolder;
  color: #ffffff;
}
.flow-3 .parking-main .choose-day .day-container .day-box span {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
.flow-3 .parking-main .choose-day .day-container .day-box:hover {
  background: #fac80b;
  color: black;
}
.flow-3 .parking-main .choose-day .day-container .day-box:hover p {
  color: black;
}
.flow-3 .parking-main .choose-day .day-container .day-box:hover span {
  color: black;
}
.flow-3 .parking-main .choose-day .day-container .active {
  background: #fac80b;
  color: black;
}
.flow-3 .parking-main .choose-day .day-container .active p {
  color: black;
}
.flow-3 .parking-main .choose-day .day-container .active span {
  color: black;
}
.flow-3 .parking-main .choose-day .day-day {
  margin: 30px 0;
}
.flow-3 .parking-main .choose-day .day-day .start-day .text-yellow-p {
  font-size: 14px;
  font-weight: bold;
  color: #fac80b;
  padding-bottom: 2px;
}
.flow-3 .parking-main .choose-day .day-day .start-day .text-yellow-p p {
  margin: 0 !important;
}
.flow-3 .parking-main .choose-day .day-day .start-day .text-p {
  margin: 0 !important;
  font-size: 17px;
  font-weight: bolder;
  color: #ffffff;
  padding-bottom: 10px;
}
.flow-3 .parking-main .choose-day .day-day .start-day .text-p p {
  margin: 0 !important;
}
.flow-3 .parking-main .choose-day .day-day .end-day {
  padding-top: 20px;
}
.flow-3 .parking-main .choose-day .day-day .end-day .text-yellow-p {
  font-size: 14px;
  font-weight: bold;
  color: #fac80b;
  padding-bottom: 2px;
}
.flow-3 .parking-main .choose-day .day-day .end-day .text-yellow-p p {
  margin: 0 !important;
}
.flow-3 .parking-main .choose-day .day-day .end-day .text-p {
  margin: 0 !important;
  font-size: 17px;
  font-weight: bolder;
  color: #ffffff;
  padding-bottom: 10px;
}
.flow-3 .parking-main .choose-day .day-day .end-day .text-p p {
  margin: 0 !important;
}
.flow-3 .button-next {
  width: 80%;
  background-color: #fac80b;
  padding: 10px 0;
  border-radius: 25px;
  position: absolute;
  bottom: 7vh;
  left: 37px;
}
.flow-3 .button-next a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #232636;
}

.place, .flow-5 .parking-main .place-calendar .place, .container .flow-4 .parking-main .place-calendar .place, .flow-4 .parking-main .place, .flow-3 .parking-main .place {
  width: 80%;
  margin-inline: auto;
  padding-top: 15px;
  margin: 0;
}
.place .place-text h3, .flow-5 .parking-main .place-calendar .place .place-text h3, .flow-4 .parking-main .place .place-text h3, .flow-3 .parking-main .place .place-text h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.place .place-text .icon-p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.place .place-text .icon-p i, .flow-5 .parking-main .place-calendar .place .place-text .icon-p i, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p i {
  color: #fac80b;
}
.place .place-text .icon-p p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p p {
  color: #ffffff;
  font-size: 13px;
}

.flow-4 .parking-main, .container .flow-4 .parking-main {
  width: 80%;
  margin-inline: auto !important;
  height: 84vh;
}
.flow-4 .parking-main form, .container .flow-4 .parking-main form {
  width: 100%;
  margin-top: 10px;
}
.flow-4 .parking-main form .text-p {
  margin: 0 !important;
  font-size: 17px;
  font-weight: bolder;
  color: #ffffff;
  padding-bottom: 10px;
}
.flow-4 .parking-main form .text-p p {
  margin: 0 !important;
}
.flow-4 .parking-main form .form {
  width: 100%;
}
.flow-4 .parking-main form .form div {
  width: 100%;
}
.flow-4 .parking-main form .form div input {
  font-size: 16px;
  border-radius: 15px;
  width: 87%;
  background: #fff;
  color: rgb(134, 133, 133);
  padding: 0.8rem 0rem 0.8rem 2rem;
  margin-bottom: 10px;
}
.flow-4 .parking-main form .form div input:hover {
  border: 2px solid #fac80b;
}
.flow-4 .parking-main form .form .verf-code {
  position: relative;
}
.flow-4 .parking-main form .form .verf-code .verf-code-smbox {
  width: 66px;
  height: 23px;
  position: absolute;
  top: 4px;
  right: 11px;
  border-radius: 12px;
  background-color: rgb(35, 38, 54);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flow-4 .parking-main form .form .verf-code .verf-code-smbox p {
  color: #fac80b;
  margin: 0;
}
.flow-4 .parking-main form .form .error-tell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  gap: 10px;
}
.flow-4 .parking-main form .form .error-tell i {
  font-size: 14px;
  color: #fac80b;
}
.flow-4 .parking-main form .form .error-tell span {
  font-size: 13px;
  color: #fac80b;
}
.flow-4 .button-next {
  width: 80%;
  background-color: #fac80b;
  padding: 10px 0;
  border-radius: 25px;
  position: absolute;
  bottom: 7vh;
  left: 37px;
}
.flow-4 .button-next a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #232636;
}

.place, .flow-5 .parking-main .place-calendar .place, .container .flow-4 .parking-main .place-calendar .place, .flow-3 .parking-main .place, .flow-4 .parking-main .place {
  width: 80%;
  margin-inline: auto;
  padding-top: 15px;
  margin: 0;
}
.place .place-text h3, .flow-5 .parking-main .place-calendar .place .place-text h3, .flow-3 .parking-main .place .place-text h3, .flow-4 .parking-main .place .place-text h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.place .place-text .icon-p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.place .place-text .icon-p i, .flow-5 .parking-main .place-calendar .place .place-text .icon-p i, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p i {
  color: #fac80b;
}
.place .place-text .icon-p p, .flow-5 .parking-main .place-calendar .place .place-text .icon-p p, .container .flow-4 .parking-main .place-calendar .place .place-text .icon-p p {
  color: #ffffff;
  font-size: 13px;
}

.calendar .icon, .flow-5 .parking-main .place-calendar .calendar .icon, .container .flow-4 .parking-main .place-calendar .calendar .icon {
  position: relative;
}
.calendar .icon i, .flow-5 .parking-main .place-calendar .calendar .icon i, .container .flow-4 .parking-main .place-calendar .calendar .icon i {
  color: #fac80b;
  font-size: 26px;
}
.calendar .icon span, .flow-5 .parking-main .place-calendar .calendar .icon span, .container .flow-4 .parking-main .place-calendar .calendar .icon span {
  position: absolute;
  top: 10px;
  left: 8px;
  color: #fac80b;
  font-size: 9px;
  font-weight: bold;
}
.calendar p, .flow-5 .parking-main .place-calendar .calendar p, .container .flow-4 .parking-main .place-calendar .calendar p {
  color: #fac80b;
  font-size: 10px;
  margin: 0;
}

.flow-5 .parking-main, .container .flow-4 .parking-main {
  width: 80%;
  margin-inline: auto !important;
  height: 84vh;
}
.flow-5 .parking-main .place-calendar, .container .flow-4 .parking-main .place-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.flow-5 .parking-main .confirm-detail, .container .flow-4 .parking-main .confirm-detail {
  width: 100%;
  background-color: #37416e;
  padding: 0.8rem;
  margin: 15px 20px 0 -12px;
  border-radius: 15px;
}
.flow-5 .parking-main .confirm-detail .form-top, .container .flow-4 .parking-main .confirm-detail .form-top {
  width: 90%;
  padding: 0.5rem;
}
.flow-5 .parking-main .confirm-detail .form-top .form-detail, .container .flow-4 .parking-main .confirm-detail .form-top .form-detail {
  padding-bottom: 8px;
}
.flow-5 .parking-main .confirm-detail .form-top .form-detail h5, .container .flow-4 .parking-main .confirm-detail .form-top .form-detail h5 {
  font-size: 16px;
  color: #92a1d3;
  padding-bottom: 1rem;
  margin: 0;
}
.flow-5 .parking-main .confirm-detail .form-top .form-detail p, .container .flow-4 .parking-main .confirm-detail .form-top .form-detail p {
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 0.5rem;
  margin: 0;
}
.flow-5 .parking-main .confirm-detail .form-top .form-tell-mail, .container .flow-4 .parking-main .confirm-detail .form-top .form-tell-mail, .flow-5 .parking-main .confirm-detail .form-top .form-type-no, .container .flow-4 .parking-main .confirm-detail .form-top .form-type-no {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flow-5 .parking-main .confirm-detail .form-dwon, .container .flow-4 .parking-main .confirm-detail .form-dwon {
  width: 90%;
  padding: 0.5rem;
}
.flow-5 .parking-main .confirm-detail .form-dwon .rent-pay, .container .flow-4 .parking-main .confirm-detail .form-dwon .rent-pay {
  font-size: 14px;
  font-weight: bold;
  color: #fac80b;
  padding-bottom: 2px;
  font-size: 18px;
  padding-bottom: 10px;
}
.flow-5 .parking-main .confirm-detail .form-dwon .rent-pay p, .container .flow-4 .parking-main .confirm-detail .form-dwon .rent-pay p {
  margin: 0 !important;
}
.flow-5 .parking-main .confirm-detail .form-dwon .rent-time, .container .flow-4 .parking-main .confirm-detail .form-dwon .rent-time {
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.4fr;
  align-items: center;
}
.flow-5 .parking-main .confirm-detail .form-dwon .rent-time p, .container .flow-4 .parking-main .confirm-detail .form-dwon .rent-time p {
  margin: 0 !important;
  font-size: 17px;
  font-weight: bolder;
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 14px;
}
.flow-5 .parking-main .confirm-detail .form-dwon .rent-time p p, .container .flow-4 .parking-main .confirm-detail .form-dwon .rent-time p p {
  margin: 0 !important;
}
.flow-5 .parking-main .confirm-detail .form-dwon .rent-time span, .container .flow-4 .parking-main .confirm-detail .form-dwon .rent-time span {
  color: #fac80b;
  padding: 0rem 1.5rem 0.7rem 1.5rem;
}
.flow-5 .form-sms, .container .flow-4 .form-sms {
  padding: 0.5rem 0;
}
.flow-5 .form-sms p, .container .flow-4 .form-sms p {
  font-size: 15px;
  color: #ffffff;
}
.flow-5 .form-sms p span, .container .flow-4 .form-sms p span {
  color: #fac80b;
}
.flow-5 .form-agree, .container .flow-4 .form-agree {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 13%;
}
.flow-5 .form-agree i, .container .flow-4 .form-agree i {
  font-size: 20px;
  color: #ffffff;
}
.flow-5 .form-agree p, .container .flow-4 .form-agree p {
  color: #ffffff;
}
.flow-5 .form-agree p a, .container .flow-4 .form-agree p a {
  color: #fac80b;
  text-transform: uppercase;
}

.button-next {
  width: 80%;
  background-color: #fac80b;
  padding: 10px 0;
  border-radius: 25px;
  position: absolute;
  bottom: 7vh;
  left: 37px;
}
.button-next a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #232636;
}

.car-box-yellow, .flow-1 .parking-main .quota .quota-box .car-box-yellow, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red, .flow-3 .parking-main .car-box-yellow {
  display: grid;
  grid-template-columns: 1.5fr 0.6fr 0.3fr;
  align-items: center;
  background: #fac80b;
  border-radius: 15px;
}
.car-box-yellow .left, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left, .flow-3 .parking-main .car-box-yellow .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 1rem;
}
.car-box-yellow .left .left-top, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-top, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.car-box-yellow .left .left-top img, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-top img, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-top img {
  width: 50px;
}
.car-box-yellow .left .left-top p, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-top p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-top p {
  color: #232636;
  font-size: 14px;
  font-weight: bolder;
}
.car-box-yellow .left .left-down, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-down, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-down {
  padding: 0.2rem;
}
.car-box-yellow .left .left-down p, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-down p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-down p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.car-box-yellow .left .left-down p span, .flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-down p span, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-down p span {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
}
.car-box-yellow .right, .flow-1 .parking-main .quota .quota-box .car-box-yellow .right, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right, .flow-3 .parking-main .car-box-yellow .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.car-box-yellow .right .right-top p, .flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-top p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-top p {
  font-size: 13px;
  margin: 0;
  padding-top: 12px;
}
.car-box-yellow .right .right-down, .flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-down, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-down {
  display: flex;
  align-items: baseline;
}
.car-box-yellow .right .right-down p, .flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-down p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-down p {
  font-size: 60px;
  margin: 0;
  font-weight: bolder;
  color: blue;
}
.car-box-yellow .right .right-down span, .flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-down span, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-down span {
  padding-left: 4px;
  font-weight: bold;
}

/****************  ^.^ ***********************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}
.container .parking-body {
  width: 400px;
  height: 100vh;
  background-color: #232636;
  margin: auto;
  position: relative;
}
/****************  header ***********************/
/****************  footer ***********************//*# sourceMappingURL=main.css.map */