footer, .footer {
  width: 100%;
  height: 6vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p, .footer p {
  font-size: 13px;
  color: antiquewhite;
  text-align: center;
  padding: 9px 0;
}

.headerMoney, header {
  width: 100%;
  height: 10vh;
}
.headerMoney .money-part, header .money-part {
  width: 125px;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1.3rem;
}
.headerMoney .money-part img, header .money-part img {
  width: 52px;
  height: 52px;
}
.headerMoney .money-part h5, header .money-part h5 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #fac80b;
}

.headerLogo, .container .flow-2 header {
  width: 100%;
  height: 10vh;
}
.headerLogo .Logo-part, .container .flow-2 header .Logo-part {
  width: 125px;
  float: left;
  margin: 1rem 1.3rem;
}
.headerLogo .Logo-part img, .container .flow-2 header .Logo-part img {
  width: 100%;
}

.headerLogo-button, .container .flow-3 header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLogo-button .Logo-part, .container .flow-3 header .Logo-part {
  width: 125px;
  float: left;
  margin: 1rem 1.3rem;
}
.headerLogo-button .Logo-part img, .container .flow-3 header .Logo-part img {
  width: 100%;
}
.headerLogo-button .btn-part, .container .flow-3 header .btn-part {
  margin: 1rem 1.5rem;
}
.headerLogo-button .btn-part a, .container .flow-3 header .btn-part a {
  text-decoration: none;
  color: aliceblue;
}

.interest-box {
  width: 80%;
  margin-inline: auto;
  margin-top: 50px;
}
.interest-box .interest-text-p {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}
.interest-box .interest-text-p p {
  margin: 0 !important;
}
.interest-box .white-box {
  width: 100%;
  height: 12vh;
  display: flex;
  gap: 8px;
}
.interest-box .white-box .rent {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  position: relative;
}
.interest-box .white-box .rent p {
  position: absolute;
  bottom: 2px;
  left: 15px;
  color: rgb(35, 38, 54);
  font-weight: bolder;
  color: rgb(35, 38, 54);
}
.interest-box .white-box .ai {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  position: relative;
}
.interest-box .white-box .ai p {
  position: absolute;
  bottom: 2px;
  left: 15px;
  font-weight: bolder;
  color: rgb(35, 38, 54);
}

.flow-1 .parking-main, .container .flow-1 .parking-main {
  width: 100%;
  height: 84vh;
}
.flow-1 .parking-main .big-logo, .container .flow-1 .parking-main .big-logo {
  width: 60%;
  margin-inline: auto;
}
.flow-1 .parking-main .big-logo img, .container .flow-1 .parking-main .big-logo img {
  width: 100%;
}
.flow-1 .parking-main .choose-rent-part, .container .flow-1 .parking-main .choose-rent-part {
  width: 80%;
  margin-inline: auto;
}
.flow-1 .parking-main .choose-rent-part .choose-title, .container .flow-1 .parking-main .choose-rent-part .choose-title {
  width: 100%;
  text-align: center;
}
.flow-1 .parking-main .choose-rent-part .choose-title p, .container .flow-1 .parking-main .choose-rent-part .choose-title p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.flow-1 .parking-main .choose-rent-part div, .container .flow-1 .parking-main .choose-rent-part div {
  margin-top: 10px;
}
.flow-1 .parking-main .choose-rent-part div select, .container .flow-1 .parking-main .choose-rent-part div select {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(102, 99, 99);
}
.flow-1 .parking-main .choose-rent-part div select option, .container .flow-1 .parking-main .choose-rent-part div select option {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(102, 99, 99);
}
.flow-1 .parking-main .quota, .container .flow-1 .parking-main .quota {
  width: 80%;
  margin-inline: auto;
}
.flow-1 .parking-main .quota .text-p, .container .flow-1 .parking-main .quota .text-p {
  width: 100%;
  text-align: center;
}
.flow-1 .parking-main .quota .text-p p, .container .flow-1 .parking-main .quota .text-p p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.flow-1 .parking-main .quota .quota-box, .container .flow-1 .parking-main .quota .quota-box {
  width: 100%;
  margin-inline: auto;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow, .container .flow-1 .parking-main .quota .quota-box .car-box-yellow, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red {
  display: grid;
  grid-template-columns: 1.5fr 0.6fr 0.3fr;
  align-items: center;
  background: #fac80b;
  border-radius: 15px;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem 1rem;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-top, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-top img, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-top img {
  width: 50px;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-top p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-top p {
  color: rgb(35, 38, 54);
  font-size: 14px;
  font-weight: bolder;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-down, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-down {
  padding: 0.2rem;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-down p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-down p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .left .left-down p span, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .left .left-down p span {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .right, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-top p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-top p {
  font-size: 13px;
  margin: 0;
  padding-top: 12px;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-down, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-down {
  display: flex;
  align-items: baseline;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-down p, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-down p {
  font-size: 60px;
  margin: 0;
  font-weight: bolder;
  color: blue;
}
.flow-1 .parking-main .quota .quota-box .car-box-yellow .right .right-down span, .flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red .right .right-down span {
  padding-left: 4px;
  font-weight: blod;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box, .container .flow-1 .parking-main .quota .quota-box .mtsc-box {
  margin-top: 15px;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .car-box-red {
  background-color: #842828;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .left .left-top p {
  color: #fff !important;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .left .left-down p {
  color: #fff;
}
.flow-1 .parking-main .quota .quota-box .mtsc-box .right p {
  color: #fff;
  padding: 0 0.3rem;
  font-weight: bold;
  padding-bottom: 5px;
}

/****************  ^.^ ***********************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}
.container .parking-body {
  width: 400px;
  height: 100vh;
  background-color: rgb(35, 38, 54);
  margin: auto;
  position: relative;
}
/****************  header ***********************/
/****************  footer ***********************//*# sourceMappingURL=main.css.map */